<div class="main">

  <div class="title">
    <h1>Titanic Passenger Info</h1>
  </div>

  <div class="form-sec">
    <form [formGroup]="detailForm">
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>PassengerId</mat-label>
          <input formControlName="passengerId" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Passenger Class</mat-label>
          <input formControlName="pclass" matInput>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input formControlName="age" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>SibSp</mat-label>
          <input formControlName="sibSp" matInput>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Parch</mat-label>
          <input formControlName="parch" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ticket Fare</mat-label>
          <input formControlName="Fare" matInput>
        </mat-form-field>
      </div>

      <div class="form-row">

        <mat-form-field appearance="outline">
          <mat-label formControlName="pEmbarked">Passenger Embarked</mat-label>
          <mat-select>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>

        <section>
          <label >Sex :</label>
          <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>

      <div class="btn-row">
        <button mat-raised-button color="primary">Result</button>
      </div>
    </form>
  </div>
</div>
